
<div class="modal fade general-modal" id="openModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg general-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your Actions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body general-modal">
        <center>
          <form id="modalForm">
              <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Title</label>
                  <input type="text" class="form-control border" placeholder=" " name="title" id="recipient-name" required="">
                  <label for="recipient-name" class="col-form-label">For User</label>
                  <input type="text" class="form-control border" placeholder=" " name="user" id="recipient-name" required="">
                  <label for="recipient-name" class="col-form-label">Type</label>
                  <input type="text" class="form-control border" placeholder=" " name="type" id="recipient-name" required="">
              </div>
              <div class="right-w3l">
                  <input type="submit" class="form-control border text-white" value="Login">
              </div>
              <div class="row sub-w3l my-3">
                  <div class="col sub-agile">
                      <input type="checkbox" id="brand1" value="">
                      <label for="brand1" class="text-muted">
                          <span></span>Remember me?</label>
                  </div>
                  <div class="col forgot-w3l text-right text-dark">
                      <a href="#" class="text-white">Forgot Password?</a>
                  </div>
              </div>
              <p class="text-center">Don't have an account?
                  <a href="#" data-toggle="modal" data-target="#exampleModal1" class="text-dark font-weight-bold">
                      Register Now</a>
              </p>
          </form>

        </center>
      </div>
    </div>
  </div>
</div>
